// variables
small-padding = 2%
md-padding = 5%
big-padding = 10%

// colors
highlight = #63F993

// custom styles 
.navbar-header 
    float left
    padding 15px
    text-align center
    width 100%

.navbar-brand 
	float none

.comments
	margin-top md-padding

.backHome
	margin-top big-padding

.footer
	margin-top md-padding	

.home section 
	padding-top small-padding

	.item
		padding-top small-padding

	.excerpt
		font-style italic